<div class="flex m-auto w-10/12">
    <div *ngIf="profile" class="">
        <ec-separator [separatorName]="'About Me'"></ec-separator>
        <p class="w-6/12 text-light-system-gray-1 text-2xl mt-3" [innerHTML]="profile.aboutMe">
        </p>
        <br>
        <p class="w-7/12 text-light-system-gray-1 text-2xl mt-3">
            Here are a few of the technologies I've been working with:
        </p>
        <div *ngIf="technologies" class="h-40">
            <ec-items-list
                [items]="getTechnologiesStringArray()"
            ></ec-items-list>
        </div>
    </div>
</div>