<div class="grid">
    <div class="col-start-1 col-end-13 row-start-1 row-end-2">
        <ec-nav-bar [links]="navVarLinks" [buttons]="navVarButtons"></ec-nav-bar>
    </div>
    <div class="col-start-5 col-end-7 row-start-2 mt-52 mb-52">
        <ec-presentation [presentation]="presentationContent" ></ec-presentation>
    </div>
    <div class="col-start-4 col-end-11 row-start-3 mt-52 mb-52">
        <about-me 
            [profile]="profileDocument"
            [technologies]="technologiesDocuments"
            ></about-me>
    </div>
    <div class="col-start-4 col-end-11 row-start-4 mt-52 mb-52">
        <work-experience 
            [works]="worksDocuments"
            ></work-experience>
    </div>
</div>