<div class="grid">
    <div class="col-start-1 con-end-2 flex- justify-center content-center">
        <a href="#"><img [src]="logoUrl" alt="ECLogo" class="w-12 h-14 m-auto"></a>
    </div>
    <div class="hidden md:grid  col-start-5 col-end-13">
        <div class="col-start-5 col-end-6">
            <ul class="flex justify-between h-full items-center text-[white]">
                <li *ngFor="let link of links">
                    <a class="ec-custom-link" [title]="link.tooltip" [href]="'#' + link.href">{{link.link}}</a>
                </li>
            </ul>
        </div>
        <div class="col-start-6 flex justify-center">
            <a 
            class="ec-custom-button" 
            *ngFor="let button of buttons"
            [title]="button.tooltip"
            [href]="button.link"
            target="_blank"
            >{{button.title}}</a>
        </div>
    </div>
    <div class="md:hidden flex items-center col-start-12">
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon 
            class="text-light-system-purple-1"
            >
            menu
            </mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="md:hidden bg-light-system-purple-3-t">
            
                    <a *ngFor="let link of links" class="ec-custom-link-mobile" mat-menu-item [title]="link.tooltip" [href]="'#' + link.href">{{link.link}}</a>
                    <mat-divider></mat-divider>
            <a 
            class="ec-custom-link-mobile" 
            mat-menu-item
            *ngFor="let button of buttons"
            [title]="button.tooltip"
            [href]="button.link"
            target="_blank"
            >{{button.title}}</a>
        </mat-menu>
    </div>
</div>