<div id="mainWorkContent" *ngIf="work" class="flex flex-col items-start max-w-3xl">
    <div class="">
        <span class="text-2xl text-[white]">{{work.position}}</span>
        <span class="text-xl text-light-system-gray-1"> at </span>
        <span class="text-2xl text-light-system-lightblue-1">{{work.place}}</span>
    </div>
    <div class="">
        <span class="text-xl text-light-system-gray-1">
            {{work.time[0] | date : 'MMM y'}} - {{work.time[1] === 'present' ? 'Present' : work.time[1] | date : 'MMM y' }}
        </span>
    </div>
    <div class="" >
        <ec-items-list
            [items]="work.responsibilities"
            class="mt-2 w-full"
            [listStyle]="true"
            [itemsClass]="'mt-5 text-xl'"
            [listDirection]="'flex-col'"
        >
        </ec-items-list>
    </div>
</div>